.page {
  background-color: white;
  height: 297mm;
  margin: 5rem 0;
  width: 210mm;
  display: flex;

  .sidebar {
    align-items: center;
    // background-color: #232d4bff;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 96.384mm;

    .face-photo {
      aspect-ratio: 1/1;
      margin-top: 17.5mm;
      width: 50.44mm;
    }

    .sidebar-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-weight: bold;
      margin: 10mm 0;

      a {
        color: white;
        text-decoration: none;
      }

      .name {
        font-size: 13mm;
      }

      .last-name {
        font-size: 7mm;
      }

      .phone {
        font-size: 10mm;
        letter-spacing: 2mm;
      }

      .email {
        font-size: 6.5mm;
      }

      .address {
        font-size: 7.5mm;
      }
    }

    .bottom-shape {
      bottom: 0;
      // fill: #00aa9bff;
      left: 0;
      position: absolute;

      .qr-code {
        position: absolute;
        width: 150px;
        bottom: 8.5mm;
        left: 8.5mm;
      }
    }
  }

  .main-content {
    padding: 10mm 5mm;
    max-width: 103.616mm;
    width: 103.616mm;

    h2 {
      font-size: 20pt;
    }

    h2:first-child {
      margin-top: 0;
    }

    h3 {
      font-size: 13pt;
    }

    p {
      font-size: 10pt;
    }
  }
}
