<div class="page">
  <div class="sidebar" [style.backgroundColor]="'#'+pColor">
    <img src="assets/img/face-1.jpg" alt="" class="face-photo" />
    <div class="sidebar-text">
      <span>Christian</span>
      <span>López Carretero</span>
    </div>
    <div class="sidebar-text">
      <span>634 82 75 58</span>
      <span>christian@lopezcarretero.es</span>
    </div>
    <div class="sidebar-text">
      <span>Christian</span>
      <span>López Carretero</span>
    </div>
    <div class="bottom-shape">
      <svg
        width="96.384mm"
        height="115.05mm"
        version="1.1"
        viewBox="0 0 96.384 115.05"
        xmlns="http://www.w3.org/2000/svg"
        class="bottom-shape"
        [style.fill]="'#'+sColor"
      >
        <path
          d="m0.005847 0-0.005847 115.05h96.384v-28.879z"
          stroke-width=".24341"
        />
      </svg>
      <a href="https://christianlc.dev/" target="_blank">
        <img [src]="qrImage" class="qr-code"/>
      </a>
    </div>
  </div>
</div>
